@font-face {
    font-family: "Instrument Serif";
    font-display: swap;
    src:url('/fonts/InstrumentSerif-Regular.ttf') format('truetype');
    font-style: normal;
}
@font-face {
    font-family: "Instrument Serif";
    font-display: swap;
    src:url('/fonts/InstrumentSerif-Italic.ttf') format('truetype');
    font-style: italic;
}

html, p, ul {
    color: #232333;
    font-family: 'Instrument Serif', serif;
    font-size: large;
    line-height: 1.5em;
}

@media print {
    html, p, ul {
        font-size: small;
        line-height: 1.2em;
    }
    
}